<a href="https://colab.research.google.com/github/vamtosh/Python_Basics/blob/master/Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### So, why Python and not R?  

**Versatile:**  Python can be used beyond data analysis.  Build web sites in Python, connect to almost any data source, leverage an incredible number of systems and tools as many of them expose a python api. You can visualize results, you can implement arbitrary algorithms, you can compile it to get good performance, etc. You can do some of these in R too, but the breadth and scope of Python is larger.  
**Efficient:** Python machine learning packages are also more efficient on average than their R counterparts.  

**Ease of learning:** Add to that the ease of learning and using Python, and you get an environment where people can very quickly demonstrate, then productise, new ideas and new techniques.  

**Library Ecosystem:** Last, but not least, Python is taking the lead over R in some machine learning areas.  For instance, a recent deep learning library such a TensorFlow exposes a Python API, but not a R API.  The Python Spark APi is also more comprehensive than the R API.  And if you really need some R package, then you can call R from Python!

--source: JeanFrancoisPuget, IBM Machine Learning Team

#### This module will teach you the basics of Python programming starting with the following:


*   Data Types - Basic Syntax
*   Data Structures such as Lists, Dictionaries
*   Comprehensions
*   Booleans & Conditionals
*   Loops
*   Functions
*   Importing External Libraries and Help Function




---

Let's Begin!

In [1]:
print("Hello World!")

Hello World!



### Variable assignment
Here we create a variable called name and assign it a value, which in this case, is a String, `Santosh`
We create another variable age and assign it a numerical value, `30`

In [0]:
#Assigning a variable with a string value and a numeric value - Comment!
name = 'Santosh'
age = 35
weight = 78.4

In [3]:
print(name, age, weight, sep=',')

Santosh,35,78.4

What does the following code do?

In [0]:
age = 'Santosh'
name = 35

In [5]:
print(name, age, sep=',')

35,Santosh

Calculations & Reassignment!

In [6]:
age = 35
print("Current age: ", age)

age = age+5
print("Age after 5 years: ", age)

age-=10
print("Age before 5 years: ", age)

Current age:  35
Age after 5 years:  40
Age before 5 years:  30



---



---


Now let us have a look at the data types of the variables that we have created!

In [7]:
name = "Santosh"
print(type(age), type(name), type(weight), sep='\n')

<class 'int'>
<class 'str'>
<class 'float'>

In [8]:
z = complex(1,3)
print(z, " type is: ", type(z))

(1+3j)  type is:  <class 'complex'>

In [9]:
print(z.real, z.imag)

1.0 3.0

### Operations

|Operation| Name | Desc |
|---|---|---|
|a+b| Addition | Sum of a and b|
a - b | Subtraction | Difference of a and b 
a * b|Multiplication|Product of a and b 
a / b|True division|Quotient of a and b 
a // b|Floor division|Quotient of a and b, removing fractional parts 
a % b|Modulus|Integer remainder after division of a by b 
a ** b|Exponentiation|a raised to the power of b 
-a|Negation|The negative of a

In [10]:
#Try your own examples

print(4+9, 9/3, 9/2, 9//2, 9%2)

13 3.0 4.5 4 1

In [11]:
#PEMDAS - Paranthesis, Exponentiation, Multiplication, Division, Addition and Subtraction

-4 + 9/3**2

-3.0

Built in functions for working with numbers.

In [12]:
print(min(3,1,5))
print(max(3,1,5))

1
5

In [13]:
print(abs(-2))

2

## Exercise

Swap the value of the 2 variables a and b

In [0]:
a = 3
b = 4

In [15]:
print(a,b)

3 4

Add the paranthesis to the expression below so that it evaluates to 0

In [16]:
8 - 3 * 2 - 1 + 1

2



---
Now let us have a look at Booleans & Conditionals

In [17]:
print(True)
print(type(True))

True
<class 'bool'>

|Operation|	Description|	Operation|	Description|
|:---:|:---|:---:|:---|
a == b|	a equal to b	|a != b	|a not equal to b	
a < b	|a less than b	|a > b	|a greater than b	
a <= b|	a less than or equal to b	|a >= b	|a greater than or equal to b

In [18]:
a = int(input("Enter a number from 1 to 100: "))
a<50

Enter a number from 1 to 100: 1

True

Combine more than one boolean operator
We can combine boolean operators using `and`, `or`, `not`

For example, to find if a number is even and greater and 10, we can combine 2 boolean operators

In [19]:
number = int(input("Enter any number less than 1000: "))
(number > 10) and ((number % 2) == 0)

Enter any number less than 1000: 1

False

### Conditionals
Booleans will not be of much use unless combined with the Conditional Statements such as `if`, `else`, `elif`

`elif` is short for else if

Note the indentations in the code:
The block of code to be executed after a successful 'if' statement is indented accordingly.

In [20]:
def inspect(x):
  try:
    if x == 0:
      print("Input is zero")
    elif x > 0:
      print(x, "is positive")
    elif x < 0:
      print(x, "is negative")
    else:
      print("This condition will never be executed")
  except:
      print(x, "is unlike anything I've ever seen...")

inspect(0)
inspect(-15)
inspect('ISRO')

Input is zero
-15 is negative
ISRO is unlike anything I've ever seen...


---
Now let us have a look at Data Structures

### Lists

Lists are an ordered sequence of elements. Each element or value inside a list is called an item

In [0]:
days_of_the_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [0]:
odd_numbers_below_10 = [1,3,5,7,9]

In [0]:
#List of lists is also possible!

pixels = [[100,200,240], 
          [200,255,124], 
          [100,129,149]]

In [0]:
pixels = [[100,200,240], [200,300,324], [100,129,449]] #can also be written like this

In [0]:
#Lists can also have different types of elements in them.
different_types_of_items = ['laptop', 45, True, [4,5,6]]

In [0]:
# What does this code do?

a = [0] * 10

Accessing the elements of the list!

List elements can be accessed by their index. The index number starts with 0

|0|1|2|3|4|5|6|
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|Sunday|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|
|-7|-6|-5|-4|-3|-2|-1|

In [27]:
print(days_of_the_week[0])
print(days_of_the_week[-7])

Sunday
Sunday

In [28]:
len(days_of_the_week)

7

In [29]:
#print last day of the week
print(days_of_the_week[len(days_of_the_week)-1])
print(days_of_the_week[-1])

Saturday
Saturday

In [30]:
#Slicing the list

print(days_of_the_week[:])
print(days_of_the_week[1:3])
print(days_of_the_week[1:])
print(days_of_the_week[:4])

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
['Monday', 'Tuesday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
['Sunday', 'Monday', 'Tuesday', 'Wednesday']

In [31]:
print(days_of_the_week[::2])

['Sunday', 'Tuesday', 'Thursday', 'Saturday']

In [32]:
#Iterate through the list

for days in days_of_the_week:
  print(days)


# append new elements to the list
days_of_the_week.append('Holiday')
days_of_the_week.insert(2,'Funday')

print("1. ", days_of_the_week)

days_of_the_week.pop()
print('2. ', days_of_the_week)
days_of_the_week.pop(2)
print('3. ', days_of_the_week)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
1.  ['Sunday', 'Monday', 'Funday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Holiday']
2.  ['Sunday', 'Monday', 'Funday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
3.  ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

## Exercise

1. Print all the elements of the list except the first and the last element
2. Reverse the list

Let us move on to more List functions

In [33]:
len(days_of_the_week)

7

In [34]:
sorted(days_of_the_week)

['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']

In [35]:
numbers = list(range(10))
print(numbers)
print(sum(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45

In [0]:
odd_numbers_below_10 = numbers[1::2]

In [37]:
odd_numbers_below_10

[1, 3, 5, 7, 9]

In [38]:
'Fri' in days_of_the_week

False

In [39]:
days_of_the_week.index('Monday')

1

### List Comprehensions

List comprehensions provide a concise way to create lists.

It consists of brackets containing an expression followed by a `for` clause, then zero or more `for` or `if` clauses. The expressions can be anything, meaning you can put in all kinds of objects in lists.

The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it.

The list comprehension always returns a result list.

In [40]:
[len(days) for days in days_of_the_week]

[6, 6, 7, 9, 8, 6, 8]

In [41]:
# We can also add an if condition

[a for a in range(10) if a%2 == 0 and a!=0]

[2, 4, 6, 8]

## Exercise
The first element in each team list is the captain.
The last element is each team list is the coach.
* Extract the captain of the third placed team. 
* Extract the coach of the top two teams.

Use only single line of codes for each of the tasks!

In [42]:
first_team = ['A', 'B', 'C', 'D', 'M']
second_team = ['E', 'F', 'G', 'H', 'N']
third_team = ['I', 'J', 'K', 'L', 'O']

list_of_teams = [first_team,second_team,third_team]

print(list_of_teams)

[['A', 'B', 'C', 'D', 'M'], ['E', 'F', 'G', 'H', 'N'], ['I', 'J', 'K', 'L', 'O']]

Get the count of negative numbers in the list using List Comprehension

In [0]:
a = [-1,3,4,2,-3,-9]

## Homework

* Find out about sets and tuples.
* What is the difference between lists and tuples?

### Dictionaries
Dictionaries are data structures having `key:value` pairs

In [0]:
captains = {'India': 'Kohli', 'Australia': 'Finch', 'England': 'Morgan', 'Newzealand': 'Williamson'}

In [45]:
captains['India']

'Kohli'

In [46]:
# add new key value pairs

captains['South Africa']= 'Du Plessis'
print(captains)

{'India': 'Kohli', 'Australia': 'Finch', 'England': 'Morgan', 'Newzealand': 'Williamson', 'South Africa': 'Du Plessis'}

In [0]:
captains['India'] = 'Virat Kohli'

In [0]:
captains.update({'Australia': 'Aaron Finch', 'England': 'Eoin Morgan', 'Newzealand': 'Kane Williamson', 'South Africa': 'Faf Du Plessis'})

In [50]:
print(captains)

{'India': 'Virat Kohli', 'Australia': 'Aaron Finch', 'England': 'Eoin Morgan', 'Newzealand': 'Kane Williamson', 'South Africa': 'Faf Du Plessis'}

In [54]:
print('India' in captains)
print('United States' in captains)

True
False

In [69]:
# loop through the keys in the dictionary

for keys in captains:
  print(keys)

print(captains.keys())
print(captains.values())

India
Australia
England
Newzealand
South Africa
dict_keys(['India', 'Australia', 'England', 'Newzealand', 'South Africa'])
dict_values(['Virat Kohli', 'Aaron Finch', 'Eoin Morgan', 'Kane Williamson', 'Faf Du Plessis'])

## Exercise

Sort the captains dictionary in alphabetical order:
* of Country Names
* of Captains' Names

In [60]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

### F Strings

In [78]:
print([f"{captain_name} is captain of {country}" for captain_name, country in zip(captains.values(), captains.keys())])

['Virat Kohli is captain of India', 'Aaron Finch is captain of Australia', 'Eoin Morgan is captain of England', 'Kane Williamson is captain of Newzealand', 'Faf Du Plessis is captain of South Africa']

In [81]:
name = 'Tim'
age = 33
print(f"{name} is {age} years old")

Tim is 33 years old

In [86]:
new_dict = {k:v.split(' ')[0] for (k,v) in captains.items()}
print(new_dict)

{'India': 'Virat', 'Australia': 'Aaron', 'England': 'Eoin', 'Newzealand': 'Kane', 'South Africa': 'Faf'}

## Exercise

Try Dictionary Comprehension

To print a dictionary that contains a number (between 1 and 10) in the form (x, x**2)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Introduction to Functions

We have already seen few built-in functions such as min, max, print and so on. But functions can be more useful when we create our own functions.

For Example, say, let us write a function that calculates the area of a circle.

In [91]:
def calc_area_circle(radius):
    pi = 3.14159
    area = pi * radius * radius
    return area

print("Area of the circle is: ", calc_area_circle(30))

Area of the circle is:  2827.431

### Keyword Arguments and Positional Arguments

In [0]:
from math import sqrt

def quadratic(a, b, c):
    x1 = -b / (2*a)
    x2 = sqrt(b**2 - 4*a*c) / (2*a)
    return (x1 + x2), (x1 - x2)

When we call this function, we can pass each of our three arguments in two different ways

In [99]:
print(quadratic(31, 93, 62))

#Or we can pass our arguments as keyword arguments like this:

print(quadratic(a=31, b=93, c=62))

(-1.0, -2.0)
(-1.0, -2.0)

In [101]:


#The order of these arguments matters when theyre passed positionally

print(quadratic(31, 93, 62))

print(quadratic(62, 93, 31))

(-1.0, -2.0)
(-0.5, -1.0)

In [102]:
## Default Values can be provided for keyword arguments:
def wish_birthday(who="Harry"):
    print("Happy Birthday,", who)
    
wish_birthday()
wish_birthday(who="Ron")
wish_birthday("Hermione")

Happy Birthday, Harry
Happy Birthday, Ron
Happy Birthday, Hermione

### Exercise
Write a function that takes in a string and toggles the case and returns the output

### Importing Libraries

The reason why Python is famous is because of its community. The community of developers create a lot of libraries! And the good news is that we can easily use those libraries for our code!

Some of these libraries are in the "standard library", meaning you can find them anywhere you run Python. Others libraries can be easily added, even if they aren't always shipped with Python.

Either way, we'll access this code with imports.

In [0]:
import numpy

In [104]:
type(numpy)

module

In [106]:
dir(numpy)

['ALLOW_THREADS',
 'AxisError',
 'BUFSIZE',
 'CLIP',
 'ComplexWarning',
 'DataSource',
 'ERR_CALL',
 'ERR_DEFAULT',
 'ERR_IGNORE',
 'ERR_LOG',
 'ERR_PRINT',
 'ERR_RAISE',
 'ERR_WARN',
 'FLOATING_POINT_SUPPORT',
 'FPE_DIVIDEBYZERO',
 'FPE_INVALID',
 'FPE_OVERFLOW',
 'FPE_UNDERFLOW',
 'False_',
 'Inf',
 'Infinity',
 'MAXDIMS',
 'MAY_SHARE_BOUNDS',
 'MAY_SHARE_EXACT',
 'MachAr',
 'ModuleDeprecationWarning',
 'NAN',
 'NINF',
 'NZERO',
 'NaN',
 'PINF',
 'PZERO',
 'RAISE',
 'RankWarning',
 'SHIFT_DIVIDEBYZERO',
 'SHIFT_INVALID',
 'SHIFT_OVERFLOW',
 'SHIFT_UNDERFLOW',
 'ScalarType',
 'Tester',
 'TooHardError',
 'True_',
 'UFUNC_BUFSIZE_DEFAULT',
 'UFUNC_PYVALS_NAME',
 'VisibleDeprecationWarning',
 'WRAP',
 '_NoValue',
 '_UFUNC_API',
 '__NUMPY_SETUP__',
 '__all__',
 '__builtins__',
 '__cached__',
 '__config__',
 '__doc__',
 '__file__',
 '__git_revision__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_add_newdoc_ufunc',
 '_distributor_init',
 '_globals',
 '_mat',
 '_pytesttester',
 'abs',
 'absolute',
 'absolute_import',
 'add',
 'add_docstring',
 'add_newdoc',
 'add_newdoc_ufunc',
 'alen',
 'all',
 'allclose',
 'alltrue',
 'amax',
 'amin',
 'angle',
 'any',
 'append',
 'apply_along_axis',
 'apply_over_axes',
 'arange',
 'arccos',
 'arccosh',
 'arcsin',
 'arcsinh',
 'arctan',
 'arctan2',
 'arctanh',
 'argmax',
 'argmin',
 'argpartition',
 'argsort',
 'argwhere',
 'around',
 'array',
 'array2string',
 'array_equal',
 'array_equiv',
 'array_repr',
 'array_split',
 'array_str',
 'asanyarray',
 'asarray',
 'asarray_chkfinite',
 'ascontiguousarray',
 'asfarray',
 'asfortranarray',
 'asmatrix',
 'asscalar',
 'atleast_1d',
 'atleast_2d',
 'atleast_3d',
 'average',
 'bartlett',
 'base_repr',
 'binary_repr',
 'bincount',
 'bitwise_and',
 'bitwise_not',
 'bitwise_or',
 'bitwise_xor',
 'blackman',
 'block',
 'bmat',
 'bool',
 'bool8',
 'bool_',
 'broadcast',
 'broadcast_arrays',
 'broadcast_to',
 'busday_count',
 'busday_offset',
 'busdaycalendar',
 'byte',
 'byte_bounds',
 'bytes0',
 'bytes_',
 'c_',
 'can_cast',
 'cast',
 'cbrt',
 'cdouble',
 'ceil',
 'cfloat',
 'char',
 'character',
 'chararray',
 'choose',
 'clip',
 'clongdouble',
 'clongfloat',
 'column_stack',
 'common_type',
 'compare_chararrays',
 'compat',
 'complex',
 'complex128',
 'complex256',
 'complex64',
 'complex_',
 'complexfloating',
 'compress',
 'concatenate',
 'conj',
 'conjugate',
 'convolve',
 'copy',
 'copysign',
 'copyto',
 'core',
 'corrcoef',
 'correlate',
 'cos',
 'cosh',
 'count_nonzero',
 'cov',
 'cross',
 'csingle',
 'ctypeslib',
 'cumprod',
 'cumproduct',
 'cumsum',
 'datetime64',
 'datetime_as_string',
 'datetime_data',
 'deg2rad',
 'degrees',
 'delete',
 'deprecate',
 'deprecate_with_doc',
 'diag',
 'diag_indices',
 'diag_indices_from',
 'diagflat',
 'diagonal',
 'diff',
 'digitize',
 'disp',
 'divide',
 'division',
 'divmod',
 'dot',
 'double',
 'dsplit',
 'dstack',
 'dtype',
 'e',
 'ediff1d',
 'einsum',
 'einsum_path',
 'emath',
 'empty',
 'empty_like',
 'equal',
 'errstate',
 'euler_gamma',
 'exp',
 'exp2',
 'expand_dims',
 'expm1',
 'extract',
 'eye',
 'fabs',
 'fastCopyAndTranspose',
 'fft',
 'fill_diagonal',
 'find_common_type',
 'finfo',
 'fix',
 'flatiter',
 'flatnonzero',
 'flexible',
 'flip',
 'fliplr',
 'flipud',
 'float',
 'float128',
 'float16',
 'float32',
 'float64',
 'float_',
 'float_power',
 'floating',
 'floor',
 'floor_divide',
 'fmax',
 'fmin',
 'fmod',
 'format_float_positional',
 'format_float_scientific',
 'format_parser',
 'frexp',
 'frombuffer',
 'fromfile',
 'fromfunction',
 'fromiter',
 'frompyfunc',
 'fromregex',
 'fromstring',
 'full',
 'full_like',
 'fv',
 'gcd',
 'generic',
 'genfromtxt',
 'geomspace',
 'get_array_wrap',
 'get_include',
 'get_printoptions',
 'getbufsize',
 'geterr',
 'geterrcall',
 'geterrobj',
 'gradient',
 'greater',
 'greater_equal',
 'half',
 'hamming',
 'hanning',
 'heaviside',
 'histogram',
 'histogram2d',
 'histogram_bin_edges',
 'histogramdd',
 'hsplit',
 'hstack',
 'hypot',
 'i0',
 'identity',
 'iinfo',
 'imag',
 'in1d',
 'index_exp',
 'indices',
 'inexact',
 'inf',
 'info',
 'infty',
 'inner',
 'insert',
 'int',
 'int0',
 'int16',
 'int32',
 'int64',
 'int8',
 'int_',
 'int_asbuffer',
 'intc',
 'integer',
 'interp',
 'intersect1d',
 'intp',
 'invert',
 'ipmt',
 'irr',
 'is_busday',
 'isclose',
 'iscomplex',
 'iscomplexobj',
 'isfinite',
 'isfortran',
 'isin',
 'isinf',
 'isnan',
 'isnat',
 'isneginf',
 'isposinf',
 'isreal',
 'isrealobj',
 'isscalar',
 'issctype',
 'issubclass_',
 'issubdtype',
 'issubsctype',
 'iterable',
 'ix_',
 'kaiser',
 'kron',
 'lcm',
 'ldexp',
 'left_shift',
 'less',
 'less_equal',
 'lexsort',
 'lib',
 'linalg',
 'linspace',
 'little_endian',
 'load',
 'loads',
 'loadtxt',
 'log',
 'log10',
 'log1p',
 'log2',
 'logaddexp',
 'logaddexp2',
 'logical_and',
 'logical_not',
 'logical_or',
 'logical_xor',
 'logspace',
 'long',
 'longcomplex',
 'longdouble',
 'longfloat',
 'longlong',
 'lookfor',
 'ma',
 'mafromtxt',
 'mask_indices',
 'mat',
 'math',
 'matmul',
 'matrix',
 'matrixlib',
 'max',
 'maximum',
 'maximum_sctype',
 'may_share_memory',
 'mean',
 'median',
 'memmap',
 'meshgrid',
 'mgrid',
 'min',
 'min_scalar_type',
 'minimum',
 'mintypecode',
 'mirr',
 'mod',
 'modf',
 'moveaxis',
 'msort',
 'multiply',
 'nan',
 'nan_to_num',
 'nanargmax',
 'nanargmin',
 'nancumprod',
 'nancumsum',
 'nanmax',
 'nanmean',
 'nanmedian',
 'nanmin',
 'nanpercentile',
 'nanprod',
 'nanquantile',
 'nanstd',
 'nansum',
 'nanvar',
 'nbytes',
 'ndarray',
 'ndenumerate',
 'ndfromtxt',
 'ndim',
 'ndindex',
 'nditer',
 'negative',
 'nested_iters',
 'newaxis',
 'nextafter',
 'nonzero',
 'not_equal',
 'nper',
 'npv',
 'numarray',
 'number',
 'obj2sctype',
 'object',
 'object0',
 'object_',
 'ogrid',
 'oldnumeric',
 'ones',
 'ones_like',
 'outer',
 'packbits',
 'pad',
 'partition',
 'percentile',
 'pi',
 'piecewise',
 'place',
 'pmt',
 'poly',
 'poly1d',
 'polyadd',
 'polyder',
 'polydiv',
 'polyfit',
 'polyint',
 'polymul',
 'polynomial',
 'polysub',
 'polyval',
 'positive',
 'power',
 'ppmt',
 'print_function',
 'printoptions',
 'prod',
 'product',
 'promote_types',
 'ptp',
 'put',
 'put_along_axis',
 'putmask',
 'pv',
 'quantile',
 'r_',
 'rad2deg',
 'radians',
 'random',
 'rank',
 'rate',
 'ravel',
 'ravel_multi_index',
 'real',
 'real_if_close',
 'rec',
 'recarray',
 'recfromcsv',
 'recfromtxt',
 'reciprocal',
 'record',
 'remainder',
 'repeat',
 'require',
 'reshape',
 'resize',
 'result_type',
 'right_shift',
 'rint',
 'roll',
 'rollaxis',
 'roots',
 'rot90',
 'round',
 'round_',
 'row_stack',
 's_',
 'safe_eval',
 'save',
 'savetxt',
 'savez',
 'savez_compressed',
 'sctype2char',
 'sctypeDict',
 'sctypeNA',
 'sctypes',
 'searchsorted',
 'select',
 'set_numeric_ops',
 'set_printoptions',
 'set_string_function',
 'setbufsize',
 'setdiff1d',
 'seterr',
 'seterrcall',
 'seterrobj',
 'setxor1d',
 'shape',
 'shares_memory',
 'short',
 'show_config',
 'sign',
 'signbit',
 'signedinteger',
 'sin',
 'sinc',
 'single',
 'singlecomplex',
 'sinh',
 'size',
 'sometrue',
 'sort',
 'sort_complex',
 'source',
 'spacing',
 'split',
 'sqrt',
 'square',
 'squeeze',
 'stack',
 'std',
 'str',
 'str0',
 'str_',
 'string_',
 'subtract',
 'sum',
 'swapaxes',
 'sys',
 'take',
 'take_along_axis',
 'tan',
 'tanh',
 'tensordot',
 'test',
 'testing',
 'tile',
 'timedelta64',
 'trace',
 'tracemalloc_domain',
 'transpose',
 'trapz',
 'tri',
 'tril',
 'tril_indices',
 'tril_indices_from',
 'trim_zeros',
 'triu',
 'triu_indices',
 'triu_indices_from',
 'true_divide',
 'trunc',
 'typeDict',
 'typeNA',
 'typecodes',
 'typename',
 'ubyte',
 'ufunc',
 'uint',
 'uint0',
 'uint16',
 'uint32',
 'uint64',
 'uint8',
 'uintc',
 'uintp',
 'ulonglong',
 'unicode',
 'unicode_',
 'union1d',
 'unique',
 'unpackbits',
 'unravel_index',
 'unsignedinteger',
 'unwrap',
 'ushort',
 'vander',
 'var',
 'vdot',
 'vectorize',
 'version',
 'void',
 'void0',
 'vsplit',
 'vstack',
 'warnings',
 'where',
 'who',
 'zeros',
 'zeros_like']

In [107]:
round(numpy.pi,5)

3.14159

In [116]:
help(numpy.zeros)

Help on built-in function zeros in module numpy:

zeros(...)
    zeros(shape, dtype=float, order='C')

    Return a new array of given shape and type, filled with zeros.

    Parameters
    ----------
    shape : int or tuple of ints
        Shape of the new array, e.g., ``(2, 3)`` or ``2``.
    dtype : data-type, optional
        The desired data-type for the array, e.g., `numpy.int8`.  Default is
        `numpy.float64`.
    order : {'C', 'F'}, optional, default: 'C'
        Whether to store multi-dimensional data in row-major
        (C-style) or column-major (Fortran-style) order in
        memory.

    Returns
    -------
    out : ndarray
        Array of zeros with the given shape, dtype, and order.

    See Also
    --------
    zeros_like : Return an array of zeros with shape and type of input.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    full : Return a new array of given shape filled with value.

    Examples
    --------
    >>> np.zeros(5)
    array([ 0.,  0.,  0.,  0.,  0.])

    >>> np.zeros((5,), dtype=int)
    array([0, 0, 0, 0, 0])

    >>> np.zeros((2, 1))
    array([[ 0.],
           [ 0.]])

    >>> s = (2,2)
    >>> np.zeros(s)
    array([[ 0.,  0.],
           [ 0.,  0.]])

    >>> np.zeros((2,), dtype=[('x', 'i4'), ('y', 'i4')]) # custom dtype
    array([(0, 0), (0, 0)],
          dtype=[('x', '<i4'), ('y', '<i4')])

In [117]:
import numpy as np
np.pi

3.141592653589793

In [0]:
from math import *

In [119]:
log(32,2)

5.0

In [0]:
from numpy import *

In [123]:
log(32,2)

TypeError: ignored