<a href="https://colab.research.google.com/github/vamtosh/Python_Basics/blob/master/Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### This module will teach you the basics of Python programming starting with the following:


*   Data Types - Basic Syntax
*   Data Structures such Lists, Dictionaries
*   Comprehensions
*   Booleans & Conditionals
*   Loops
*   Functions
*   Importing External Libraries and Help Function




---

Let's Begin!

In [0]:
print("Hello World!")

Hello World!



### Variable assignment
Here we create a variable called name and assign it a value, which in this case, is a String, `Santosh`
We create another variable age and assign it a numerical value, `30`

In [0]:
#Assigning a variable with a string value and a numeric value - Comment!
name = 'Santosh'
age = 35
weight = 78.4

In [0]:
print(name, age, weight, sep=',')

Santosh,35,78.4

What does the following code do?

In [0]:
age = 'Santosh'
name = 35

In [0]:
print(name, age, sep=',')

35,Santosh

Calculations & Reassignment!

In [0]:
age = 35
print("Current age: ", age)

age = age+5
print("Age after 5 years: ", age)

age-=10
print("Age before 5 years: ", age)

Current age:  35
Age after 5 years:  40
Age before 5 years:  30



---



---


Now let us have a look at the data types of the variables that we have created!

In [0]:
name = "Santosh"
print(type(age), type(name), type(weight), sep='\n')

<class 'int'>
<class 'str'>
<class 'float'>

In [0]:
z = complex(1,3)
print(z, " type is: ", type(z))

(1+3j)  type is:  <class 'complex'>

In [0]:
print(z.real, z.imag)

1.0 3.0

### Operations

|Operation| Name | Desc |
|---|---|---|
|a+b| Addition | Sum of a and b|
a - b | Subtraction | Difference of a and b 
a * b|Multiplication|Product of a and b 
a / b|True division|Quotient of a and b 
a // b|Floor division|Quotient of a and b, removing fractional parts 
a % b|Modulus|Integer remainder after division of a by b 
a ** b|Exponentiation|a raised to the power of b 
-a|Negation|The negative of a

In [0]:
#Try your own examples

print(4+9, 9/3, 9/2, 9//2, 9%2)

13 3.0 4.5 4 1

In [0]:
#PEMDAS - Paranthesis, Exponentiation, Multiplication, Division, Addition and Subtraction

-4 + 9/3**2

-3.0

Built in functions for working with numbers.

In [0]:
print(min(3,1,5))
print(max(3,1,5))

1
5

In [0]:
print(abs(-2))

2

## Exercise

Swap the value of the 2 variables a and b

In [0]:
a = 3
b = 4

In [0]:
print(a,b)

3 4

Add the paranthesis to the expression below so that it evaluates to 0

In [0]:
8 - 3 * 2 - 1 + 1

2



---
Now let us have a look at Booleans & Conditionals

In [0]:
print(True)
print(type(True))

True
<class 'bool'>

|Operation|	Description|	Operation|	Description|
|:---:|:---|:---:|:---|
a == b|	a equal to b	|a != b	|a not equal to b	
a < b	|a less than b	|a > b	|a greater than b	
a <= b|	a less than or equal to b	|a >= b	|a greater than or equal to b

In [0]:
a = int(input("Enter a number from 1 to 100: "))
a<50

Enter a number from 1 to 100: 30

True

Combine more than one boolean operator
We can combine boolean operators using `and`, `or`, `not`

For example, to find if a number is even and greater and 10, we can combine 2 boolean operators

In [0]:
number = int(input("Enter any number less than 1000: "))
(number > 10) and ((number % 2) == 0)

Enter any number less than 1000: 40

True

### Conditionals
Booleans will not be of much use unless combined with the Conditional Statements such as `if`, `else`, `elif`

`elif` is short for else if

Note the indentations in the code:
The block of code to be executed after a successful 'if' statement is indented accordingly.

In [0]:
def inspect(x):
  try:
    if x == 0:
      print("Input is zero")
    elif x > 0:
      print(x, "is positive")
    elif x < 0:
      print(x, "is negative")
    else:
      print("This condition will never be executed")
  except:
      print(x, "is unlike anything I've ever seen...")

inspect(0)
inspect(-15)
inspect('ISRO')

Input is zero
-15 is negative
ISRO is unlike anything I've ever seen...


---
Now let us have a look at Data Structures

### Lists

Lists are an ordered sequence of elements. Each element or value inside a list is called an item

In [0]:
days_of_the_week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

In [0]:
odd_numbers_below_10 = [1,3,5,7,9]

In [0]:
#List of lists is also possible!

pixels = [[100,200,240], 
          [200,255,124], 
          [100,129,149]]

In [0]:
pixels = [[100,200,240], [200,300,324], [100,129,449]] #can also be written like this

In [0]:
#Lists can also have different types of elements in them.
different_types_of_items = ['laptop', 45, True, [4,5,6]]

In [0]:
# What does this code do?

a = [0] * 10

Accessing the elements of the list!

List elements can be accessed by their index. The index number starts with 0

|0|1|2|3|4|5|6|
|:---:|:---:|:---:|:---:|:---:|:---:|:---:|
|Sunday|Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|
|-7|-6|-5|-4|-3|-2|-1|

In [0]:
print(days_of_the_week[0])
print(days_of_the_week[-7])

Sunday
Sunday

In [0]:
len(days_of_the_week)

7

In [0]:
#print last day of the week
print(days_of_the_week[len(days_of_the_week)-1])
print(days_of_the_week[-1])

Saturday
Saturday

In [0]:
#Slicing the list

print(days_of_the_week[:])
print(days_of_the_week[1:3])
print(days_of_the_week[1:])
print(days_of_the_week[:4])

['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
['Monday', 'Tuesday']
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
['Sunday', 'Monday', 'Tuesday', 'Wednesday']

In [0]:
print(days_of_the_week[::2])

['Sunday', 'Tuesday', 'Thursday', 'Saturday']

In [0]:
#Iterate through the list

for days in days_of_the_week:
  print(days)


# append new elements to the list
days_of_the_week.append('Holiday')
days_of_the_week.insert(2,'Funday')

print("1. ", days_of_the_week)

days_of_the_week.pop()
print('2. ', days_of_the_week)
days_of_the_week.pop(2)
print('3. ', days_of_the_week)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
1.  ['Sunday', 'Monday', 'Funday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Holiday']
2.  ['Sunday', 'Monday', 'Funday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
3.  ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

## Exercise

1. Print all the elements of the list except the first and the last element
2. Reverse the list

Let us move on to more List functions

In [0]:
len(days_of_the_week)

9

In [0]:
sorted(days_of_the_week)

['Friday',
 'Funday',
 'Holiday',
 'Monday',
 'Saturday',
 'Sunday',
 'Thursday',
 'Tuesday',
 'Wednesday']

In [0]:
numbers = list(range(10))
print(numbers)
print(sum(numbers))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45

In [0]:
odd_numbers_below_10 = numbers[1::2]

In [0]:
odd_numbers_below_10

[1, 3, 5, 7, 9]

In [0]:
'Fri' in days_of_the_week

False

In [0]:
days_of_the_week.index('Monday')

1

### List Comprehensions

List comprehensions provide a concise way to create lists.

It consists of brackets containing an expression followed by a `for` clause, then zero or more `for` or `if` clauses. The expressions can be anything, meaning you can put in all kinds of objects in lists.

The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it.

The list comprehension always returns a result list.

In [0]:
[len(days) for days in days_of_the_week]

[6, 6, 7, 9, 8, 6, 8]

In [0]:
# We can also add an if condition

[a for a in range(10) if a%2 == 0 and a!=0]

[2, 4, 6, 8]

## Exercise
The first element in each team list is the captain.
The last element is each team list is the coach.
* Extract the captain of the third placed team. 
* Extract the coach of the top two teams.

Use only single line of codes for each of the tasks!

In [0]:
first_team = ['A', 'B', 'C', 'D', 'M']
second_team = ['E', 'F', 'G', 'H', 'N']
third_team = ['I', 'J', 'K', 'L', 'O']

list_of_teams = [first_team,second_team,third_team]

print(list_of_teams)

[['A', 'B', 'C', 'D', 'M'], ['E', 'F', 'G', 'H', 'N'], ['I', 'J', 'K', 'L', 'O']]

Get the count of negative numbers in the list using List Comprehension

In [0]:
a = [-1,3,4,2,-3,-9]

## Homework

* Find out about sets and tuples.
* What is the difference between lists and tuples?